{% extends "layout.twig" %}

{% block title 'mission ANDE' %}
{% block body %}
    <div class="row">
            {%include '@mission/info.twig'%}
            
            {%include '@mission/menu/menu.twig'%}
    </div>
 
  
  
    
{% endblock %}